:root {
  --color--primary: #151515;
  --color--secondary: white;
  --color--accent: tomato;
  --color--grey: lightgray;
  --border--radius: 5px;
  --bigsize--for--tablet: 3rem;
  --midsize--for--tablet: 2rem;
  --smallsize--for--tablet: 1.4rem;
  --bigsize--for--mobile: 4rem;
  --midsize--for--mobile: 3rem;
  --smallsize--for--mobile: 1.8rem;
  --horizontal--padding: 1rem;
  --vertical--padding: 0.5rem;
}
html {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-size: 62.5%; /* 62.5% of 16 = 10 rem */
}
.dark-mode {
  background-color: var(--color--primary);
  color: var(--color--secondary);
}
.light-mode {
  background-color: var(--color--secondary);
  color: var(--color--primary);
}
/* Containers */
.container {
  border: 0.05cm solid var(--color--accent);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: var(--border--radius);
  overflow: hidden;
  margin: auto auto;
}
.card {
  padding: var(--vertical--padding) var(--horizontal--padding);
}
.row {
  display: grid;
}
/* Buttons */
.btn {
  margin-left: 2px;
  margin-right: 2px;
  padding-top: var(--horizontal--padding);
  padding-bottom: var(--horizontal--padding);
  border: 1px solid var(--color--grey);
  border-radius: var(--border--radius);
  background: var(--color--secondary);
  font-family: "Raleway", sans-serif;
}
.btn:hover,
.btn:focus {
  border: 1px solid var(--color--accent);
  cursor: pointer;
}
input {
  border: none;
  outline: none;
  width: 12ch;
  display: inline;
}
/* General settings */
.align_right {
  text-align: right;
}
.align_left {
  text-align: left;
}
.align_center {
  text-align: center;
}
.display_as_block {
  display: block;
}
.boldText {
  font-weight: bold;
}
.air {
  margin-top: 3rem;
}
/* Mobile */
.smallText {
  font-size: var(--smallsize--for--mobile);
}
.midText {
  font-size: var(--midsize--for--mobile);
}
.bigText {
  font-size: var(--bigsize--for--mobile);
}
/* Tablet + Desktop */
@media screen and (min-width: 668px) {
  .inline--1x4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .inline--1x3 {
    grid-template-columns: auto 1fr auto;
  }
  .smallText {
    font-size: var(--smallsize--for--tablet);
  }
  .midText {
    font-size: var(--midsize--for--tablet);
  }
  .bigText {
    font-size: var(--bigsize--for--tablet);
  }
  .container {
    width: 768px;
  }
}
.links {
  text-decoration: none;
}
.links:hover,
.links:focus {
  text-decoration: underline;
  color: var(--color--accent);
}
.links:visited {
  text-decoration: none;
}
.toogle {
  color: var(--color--primary);
  background: var(--color--primary);
  border: 1px solid var(--color--primary);
  border-radius: 5px;
}
.toogle_light {
  color: var(--color--secondary);
  background: var(--color--secondary);
  border: 1px solid var(--color--primary);
  border-radius: 5px;
}
.toggle,
.toggle:visited,
.toggle:hover,
.toggle:focus {
  text-decoration: none;
}
